In [1]:
# Dataset : Titanic
# Author : kcw
# Date : 20231125
# Tags : Data visualization, Python

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [85]:
path = './dataset/'
dataset_path = path + 'train.csv'
df = pd.read_csv(dataset_path)
df.sample(10) # ğŸ•Šï¸ headëŠ” ìˆœì„œëŒ€ë¡œ ì¶œë ¥í•˜ê¸° ë•Œë¬¸ì— ì¤‘ìš”í•œ íŠ¹ì§•ì„ ëˆ„ë½í•  ìˆ˜ ìˆì–´ìš”.

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
184,185,1,3,"Kink-Heilmann, Miss. Luise Gretchen",female,4.0,0,2,315153,22.0250,NaN,S
174,175,0,1,"Smith, Mr. James Clinch",male,56.0,0,0,17764,30.6958,A7,C
77,78,0,3,"Moutal, Mr. Rahamin Haim",male,NaN,0,0,374746,8.0500,NaN,S
590,591,0,3,"Rintamaki, Mr. Matti",male,35.0,0,0,STON/O 2. 3101273,7.1250,NaN,S
207,208,1,3,"Albimona, Mr. Nassef Cassem",male,26.0,0,0,2699,18.7875,NaN,C
798,799,0,3,"Ibrahim Shawah, Mr. Yousseff",male,30.0,0,0,2685,7.2292,NaN,C
306,307,1,1,"Fleming, Miss. Margaret",female,NaN,0,0,17421,110.8833,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
768,769,0,3,"Moran, Mr. Daniel J",male,NaN,1,0,371110,24.1500,NaN,Q
761,762,0,3,"Nirva, Mr. Iisakki Antino Aijo",male,41.0,0,0,SOTON/O2 3101272,7.1250,NaN,S

In [134]:
#  ì‚¬ì „ì‘ì—… - ê° featureì˜ í˜•íƒœ íŒŒì•…

result = "" # ğŸ•Šï¸ EDA ê²°ê³¼ë¥¼ ì°¨ê³¡ì°¨ê³¡ ì €ì¥í•´ì„œ ë§ˆì§€ë§‰ì— ì¶œë ¥í•´ì£¼ë ¤í•´ìš”.

info_result = 'info ' + '='*100 + '\n' # ğŸ•Šï¸ result ë³€ìˆ˜ëŠ” ìµœì¢… ì¶œë ¥ë¬¼ë§Œ ë„£ê¸° ìœ„í•´ ë‹¤ë¥¸ ë³€ìˆ˜ë¥¼ ì„ ì–¸í–ˆì–´ìš”.

info_result += "columns: "
for col in df.columns.values:
    info_result += f"{col}, "
info_result = info_result[:-2] + '\n'

info_result += f"ì–‘ì ë³€ìˆ˜ > ì—°ì†í˜• : Fare\n"
var_num_con = ['Fare']
info_result += f"ì–‘ì ë³€ìˆ˜ > ì´ì‚°í˜• : Age, SibSp, Parch\n"
var_num_dis = ['Age', 'SibSp', 'Parch']
info_result += f"ì§ˆì ë³€ìˆ˜ > ëª…ëª©í˜• : Sex, PassengerId, Survived, Ticket, Cabin, Embarked, Name\n"
var_cat_non = ['Sex', 'PassengerId', 'Survived', 'Ticket', 'Cabin', 'Embarked', 'Name']
info_result += f"ì§ˆì ë³€ìˆ˜ > ìˆœì„œí˜• : Pclass\n"
var_cat_ord = ['Pclass']
for col in ['Sex', 'PassengerId', 'Survived', 'Ticket', 'Cabin', 'Embarked', 'Name', 'Pclass']:
    df[col] = df[col].astype('category')
info_result += f"- 'Age'ì— 177ê°œì˜ ëˆ„ë½ëœ ê°’ì´ ìˆìŠµë‹ˆë‹¤.\n"
info_result += f"- 'Cabin'ì€ 687ê°œì˜ ëˆ„ë½ëœ ê°’ì´ ìˆìŠµë‹ˆë‹¤.\n"
info_result += f"- 'Embarked'ì— 2ê°œì˜ ëˆ„ë½ëœ ê°’ì´ ìˆìŠµë‹ˆë‹¤.\n"
info_result += f"- ì§ˆì ë³€ìˆ˜ì˜ ìë£Œí˜•ì„ ëª¨ë‘ Categoryë¡œ ë³€ê²½í•´ì£¼ì—ˆìŠµë‹ˆë‹¤.\n"

print(info_result)

info ====================================================================================================
columns: PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked, Family
ì–‘ì ë³€ìˆ˜ > ì—°ì†í˜• : Fare
ì–‘ì ë³€ìˆ˜ > ì´ì‚°í˜• : Age, SibSp, Parch
ì§ˆì ë³€ìˆ˜ > ëª…ëª©í˜• : Sex, PassengerId, Survived, Ticket, Cabin, Embarked, Name
ì§ˆì ë³€ìˆ˜ > ìˆœì„œí˜• : Pclass
- 'Age'ì— 177ê°œì˜ ëˆ„ë½ëœ ê°’ì´ ìˆìŠµë‹ˆë‹¤.
- 'Cabin'ì€ 687ê°œì˜ ëˆ„ë½ëœ ê°’ì´ ìˆìŠµë‹ˆë‹¤.
- 'Embarked'ì— 2ê°œì˜ ëˆ„ë½ëœ ê°’ì´ ìˆìŠµë‹ˆë‹¤.
- ì§ˆì ë³€ìˆ˜ì˜ ìë£Œí˜•ì„ ëª¨ë‘ Categoryë¡œ ë³€ê²½í•´ì£¼ì—ˆìŠµë‹ˆë‹¤.

In [118]:
# ì „ì²˜ë¦¬ - íŒŒìƒ ë³€ìˆ˜ì˜ ê³ ë ¤

var_result = 'variable ' + '='*100 + '\n'

df['Family'] = df.apply(lambda x: int(x.SibSp>0 and x.Parch>0), axis=1)
var_result += "íŒŒìƒë³€ìˆ˜ Family : ê°€ì¡±ì´ ë™ìŠ¹í•˜ì˜€ë‹¤ë©´ 1, ì•„ë‹ˆë©´ 0ìœ¼ë¡œ ë‘ì—ˆìŠµë‹ˆë‹¤.\n"
var_result += "ì¶”ê°€ íŒŒìƒë³€ìˆ˜ëŠ” taskì— ë§ì¶°, ê·¸ë¦¬ê³  ì‹œê°í™” ê²°ê³¼ë¥¼ ë³´ê³  ì¶”ê°€í•˜ê³ ì í•©ë‹ˆë‹¤.\n"

print(var_result)

variable ====================================================================================================
íŒŒìƒë³€ìˆ˜ Family : ê°€ì¡±ì´ ë™ìŠ¹í•˜ì˜€ë‹¤ë©´ 1, ì•„ë‹ˆë©´ 0ìœ¼ë¡œ ë‘ì—ˆìŠµë‹ˆë‹¤.
ì¶”ê°€ íŒŒìƒë³€ìˆ˜ëŠ” taskì— ë§ì¶°, ê·¸ë¦¬ê³  ì‹œê°í™” ê²°ê³¼ë¥¼ ë³´ê³  ì¶”ê°€í•˜ê³ ì í•©ë‹ˆë‹¤.

In [132]:
# ì „ì²˜ë¦¬ - ê²°ì¸¡ì¹˜ ì²˜ë¦¬

missing_result = 'missing ' + '='*100 + '\n'

missing_result += f"'Age' ë³€ìˆ˜ì˜ ê²½ìš° ëª©ì  ë³€ìˆ˜ì¸ 'Survived'ì— ì˜í–¥ì„ ë¯¸ì¹  ê²ƒìœ¼ë¡œ ê¸°ëŒ€í•˜ê¸° ë•Œë¬¸ì— ëŒ€ì²´ê°’ì„ ì‚¬ìš©í•˜ê¸°ë³´ë‹¤ ê´€ë ¨ ë¶„ì„ ì‹œ NaNê°’ì„ ì œì™¸í•˜ëŠ” ë°©í–¥ìœ¼ë¡œ ì„¤ê³„í•˜ì˜€ìŠµë‹ˆë‹¤.\n"
missing_result += f"'Cabin' ë³€ìˆ˜ ì—­ì‹œ ë§ˆì°¬ê°€ì§€ì˜ ì´ìœ ë¡œ Unknown ì¹´í…Œê³ ë¦¬ë¥¼ ìƒˆë¡­ê²Œ ì¶”ê°€í•˜ì—¬ ê²°ì¸¡ê°’ì„ ì²˜ë¦¬í•˜ì˜€ìŠµë‹ˆë‹¤. \n"
df.Cabin = df.Cabin.cat.add_categories('Unknown')
df.Cabin = df.Cabin.fillna('Unknown')
missing_result += f"'Embarked' ë³€ìˆ˜ì˜ ê²½ìš° ëª©ì  ë³€ìˆ˜ì¸ 'Survived'ì— ë³„ ì˜í–¥ì„ ë¯¸ì¹˜ì§€ ì•Šì„ ê²ƒìœ¼ë¡œ ê¸°ëŒ€í•˜ê¸° ë•Œë¬¸ì— ì‹œê°í™” í›„ ë³€ìˆ˜ì˜ ì œê±°ë¥¼ ê³ ë ¤í•´ë³´ë ¤ í•©ë‹ˆë‹¤."

print(missing_result)

missing ====================================================================================================
'Age' ë³€ìˆ˜ì˜ ê²½ìš° ëª©ì  ë³€ìˆ˜ì¸ 'Survived'ì— ì˜í–¥ì„ ë¯¸ì¹  ê²ƒìœ¼ë¡œ ê¸°ëŒ€í•˜ê¸° ë•Œë¬¸ì— ëŒ€ì²´ê°’ì„ ì‚¬ìš©í•˜ê¸°ë³´ë‹¤ ê´€ë ¨ ë¶„ì„ ì‹œ NaNê°’ì„ ì œì™¸í•˜ëŠ” ë°©í–¥ìœ¼ë¡œ ì„¤ê³„í•˜ì˜€ìŠµë‹ˆë‹¤.
'Cabin' ë³€ìˆ˜ ì—­ì‹œ ë§ˆì°¬ê°€ì§€ì˜ ì´ìœ ë¡œ Unknown ì¹´í…Œê³ ë¦¬ë¥¼ ìƒˆë¡­ê²Œ ì¶”ê°€í•˜ì—¬ ê²°ì¸¡ê°’ì„ ì²˜ë¦¬í•˜ì˜€ìŠµë‹ˆë‹¤.
'Embarked' ë³€ìˆ˜ì˜ ê²½ìš° ëª©ì  ë³€ìˆ˜ì¸ 'Survived'ì— ë³„ ì˜í–¥ì„ ë¯¸ì¹˜ì§€ ì•Šì„ ê²ƒìœ¼ë¡œ ê¸°ëŒ€í•˜ê¸° ë•Œë¬¸ì— ì‹œê°í™” í›„ ë³€ìˆ˜ì˜ ì œê±°ë¥¼ ê³ ë ¤í•´ë³´ë ¤ í•©ë‹ˆë‹¤.

In [135]:
# print result

result = f"{info_result}\n{var_result}\n{missing_result}"

print(result)

info ====================================================================================================
columns: PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked, Family
ì–‘ì ë³€ìˆ˜ > ì—°ì†í˜• : Fare
ì–‘ì ë³€ìˆ˜ > ì´ì‚°í˜• : Age, SibSp, Parch
ì§ˆì ë³€ìˆ˜ > ëª…ëª©í˜• : Sex, PassengerId, Survived, Ticket, Cabin, Embarked, Name
ì§ˆì ë³€ìˆ˜ > ìˆœì„œí˜• : Pclass
- 'Age'ì— 177ê°œì˜ ëˆ„ë½ëœ ê°’ì´ ìˆìŠµë‹ˆë‹¤.
- 'Cabin'ì€ 687ê°œì˜ ëˆ„ë½ëœ ê°’ì´ ìˆìŠµë‹ˆë‹¤.
- 'Embarked'ì— 2ê°œì˜ ëˆ„ë½ëœ ê°’ì´ ìˆìŠµë‹ˆë‹¤.
- ì§ˆì ë³€ìˆ˜ì˜ ìë£Œí˜•ì„ ëª¨ë‘ Categoryë¡œ ë³€ê²½í•´ì£¼ì—ˆìŠµë‹ˆë‹¤.

variable ====================================================================================================
íŒŒìƒë³€ìˆ˜ Family : ê°€ì¡±ì´ ë™ìŠ¹í•˜ì˜€ë‹¤ë©´ 1, ì•„ë‹ˆë©´ 0ìœ¼ë¡œ ë‘ì—ˆìŠµë‹ˆë‹¤.
ì¶”ê°€ íŒŒìƒë³€ìˆ˜ëŠ” taskì— ë§ì¶°, ê·¸ë¦¬ê³  ì‹œê°í™” ê²°ê³¼ë¥¼ ë³´ê³  ì¶”ê°€í•˜ê³ ì í•©ë‹ˆë‹¤.

missing ====================================================================================================
'Age' ë³€ìˆ˜ì˜ ê²½ìš° ëª©ì  ë³€ìˆ˜ì¸ 'Survived'ì— ì˜í–¥ì„ ë¯¸ì¹  ê²ƒìœ¼ë¡œ ê¸°ëŒ€í•˜ê¸° ë•Œë¬¸ì— ëŒ€ì²´ê°’ì„ ì‚¬ìš©í•˜ê¸°ë³´ë‹¤ ê´€ë ¨ ë¶„ì„ ì‹œ NaNê°’ì„ ì œì™¸í•˜ëŠ” ë°©í–¥ìœ¼ë¡œ ì„¤ê³„í•˜ì˜€ìŠµë‹ˆë‹¤.
'Cabin' ë³€ìˆ˜ ì—­ì‹œ ë§ˆì°¬ê°€ì§€ì˜ ì´ìœ ë¡œ Unknown ì¹´í…Œê³ ë¦¬ë¥¼ ìƒˆë¡­ê²Œ ì¶”ê°€í•˜ì—¬ ê²°ì¸¡ê°’ì„ ì²˜ë¦¬í•˜ì˜€ìŠµë‹ˆë‹¤.
'Embarked' ë³€ìˆ˜ì˜ ê²½ìš° ëª©ì  ë³€ìˆ˜ì¸ 'Survived'ì— ë³„ ì˜í–¥ì„ ë¯¸ì¹˜ì§€ ì•Šì„ ê²ƒìœ¼ë¡œ ê¸°ëŒ€í•˜ê¸° ë•Œë¬¸ì— ì‹œê°í™” í›„ ë³€ìˆ˜ì˜ ì œê±°ë¥¼ ê³ ë ¤í•´ë³´ë ¤ í•©ë‹ˆë‹¤.

In [140]:
# publish dataset and EDA result

import pickle

with open('./dataset/train_after_eda.pkl', 'wb') as f:
    pickle.dump(df, f)

with open('./dataset/train_after_eda.pkl', 'rb') as f:
    pickle.load(f).info()

with open('./dataset/eda_result.txt', 'w') as f:
    f.write(result)

with open('./dataset/eda_result.txt', 'r') as f:
    print(f.read())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    category
 1   Survived     891 non-null    category
 2   Pclass       891 non-null    category
 3   Name         891 non-null    category
 4   Sex          891 non-null    category
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    category
 9   Fare         891 non-null    float64
 10  Cabin        891 non-null    category
 11  Embarked     889 non-null    category
 12  Family       891 non-null    int64
dtypes: category(8), float64(2), int64(3)
memory usage: 65.8 KB
info ====================================================================================================
columns: PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked, Family
ì–‘ì ë³€ìˆ˜ > ì—°ì†í˜• : Fare
ì–‘ì ë³€ìˆ˜ > ì´ì‚°í˜• : Age, SibSp, Parch
ì§ˆì ë³€ìˆ˜ > ëª…ëª©í˜• : Sex, PassengerId, Survived, Ticket, Cabin, Embarked, Name
ì§ˆì ë³€ìˆ˜ > ìˆœì„œí˜• : Pclass
- 'Age'ì— 177ê°œì˜ ëˆ„ë½ëœ ê°’ì´ ìˆìŠµë‹ˆë‹¤.
- 'Cabin'ì€ 687ê°œì˜ ëˆ„ë½ëœ ê°’ì´ ìˆìŠµë‹ˆë‹¤.
- 'Embarked'ì— 2ê°œì˜ ëˆ„ë½ëœ ê°’ì´ ìˆìŠµë‹ˆë‹¤.
- ì§ˆì ë³€ìˆ˜ì˜ ìë£Œí˜•ì„ ëª¨ë‘ Categoryë¡œ ë³€ê²½í•´ì£¼ì—ˆìŠµë‹ˆë‹¤.

variable ====================================================================================================
íŒŒìƒë³€ìˆ˜ Family : ê°€ì¡±ì´ ë™ìŠ¹í•˜ì˜€ë‹¤ë©´ 1, ì•„ë‹ˆë©´ 0ìœ¼ë¡œ ë‘ì—ˆìŠµë‹ˆë‹¤.
ì¶”ê°€ íŒŒìƒë³€ìˆ˜ëŠ” taskì— ë§ì¶°, ê·¸ë¦¬ê³  ì‹œê°í™” ê²°ê³¼ë¥¼ ë³´ê³  ì¶”ê°€í•˜ê³ ì í•©ë‹ˆë‹¤.

missing ====================================================================================================
'Age' ë³€ìˆ˜ì˜ ê²½ìš° ëª©ì  ë³€ìˆ˜ì¸ 'Survived'ì— ì˜í–¥ì„ ë¯¸ì¹  ê²ƒìœ¼ë¡œ ê¸°ëŒ€í•˜ê¸° ë•Œë¬¸ì— ëŒ€ì²´ê°’ì„ ì‚¬ìš©í•˜ê¸°ë³´ë‹¤ ê´€ë ¨ ë¶„ì„ ì‹œ NaNê°’ì„ ì œì™¸í•˜ëŠ” ë°©í–¥ìœ¼ë¡œ ì„¤ê³„í•˜ì˜€ìŠµë‹ˆë‹¤.
'Cabin' ë³€ìˆ˜ ì—­ì‹œ ë§ˆì°¬ê°€ì§€ì˜ ì´ìœ ë¡œ Unknown ì¹´í…Œê³ ë¦¬ë¥¼ ìƒˆë¡­ê²Œ ì¶”ê°€í•˜ì—¬ ê²°ì¸¡ê°’ì„ ì²˜ë¦¬í•˜ì˜€ìŠµë‹ˆë‹¤.
'Embarked' ë³€ìˆ˜ì˜ ê²½ìš° ëª©ì  ë³€ìˆ˜ì¸ 'Survived'ì— ë³„ ì˜í–¥ì„ ë¯¸ì¹˜ì§€ ì•Šì„ ê²ƒìœ¼ë¡œ ê¸°ëŒ€í•˜ê¸° ë•Œë¬¸ì— ì‹œê°í™” í›„ ë³€ìˆ˜ì˜ ì œê±°ë¥¼ ê³ ë ¤í•´ë³´ë ¤ í•©ë‹ˆë‹¤.